{% extends 'main.html' %}
{% block content %}


  {% if messages %}
  <div class="row">
    <div class="col-lg-1"></div>
    
    <div class="col-lg-10">
        {% for message in messages %} 
       
                <div class="col-lg-12 ">
                    <div class="alert alert-dark alert-dismissible fade show" role="alert">
                      
                       {{message}} 
                      
                       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                </div>

         
   
    {% endfor %}

    </div>
    <div class="col-lg-1"></div>
    </div>
    
    {% endif %}


    <!-- filter -->
<div class="row mt-5">
    <div class="col-lg-1"></div>
    
    <div class="col-lg-10">

<div class="card">
    <div class="card-body">
        <form method="post" action="">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="exampleInputUsername1">Coupon Code</label>
                        <input type="text" class="form-control form-control-sm" placeholder="search by Coupon Code.."
                            name="coupon">
                    </div>
                </div>
                <div class="col-md-4 col-lg-2">
                    <div class="form-group">
                      <label class="form-label">Start Date</label>
                      <input type="date" class="form-control" name="fromdate" 
                        >
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-2">
                    <div class="form-group">
                      <label class="form-label">End Date</label>
                      <input type="date" class="form-control" name="todate" 
                     >
                    </div>
                  </div>
               
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="exampleInputUsername1">Status</label>
                        <select id="status" class="form-control form-control-sm" name="status">
                            <option value="">Select</option>
                            <option value="True">Active</option>
                            <option value="False">Inactive</option>
                        </select>
                    </div>
                </div>
               
                <div class="col-sm-2 ml-auto">
                    <div class="form-group">
                        <a href="{% url 'coupon' %}" id="filter-btn" class="btn btn-primary btn-sm mt-4" data-toggle="tooltip" title="Filter"><i class="fas fa-undo-alt"></i></a>
                        <button type="submit" class="btn btn-primary mt-4 "  data-toggle="tooltip" title=""
                            data-original-title="Apply">Filter</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
<div class="col-lg-1"></div>
</div>

<!-- end filter -->


<div class="row mt-5">
<div class="col-lg-1"></div>

<div class="col-lg-10">
  
    
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="mt-2">Coupon Code</h3>

                    </div>
                    <div class="col-sm-6"  >
                        
                        <a href="{% url 'add_coupon' %}" class="btn btn-secondary" style="float:right">Add Coupon</a>
                        
                    </div>

               
             

                </div>
                
             
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    {% if coupons %}
                    <tr>
                        
                        <th>Coupon Code</th>
                        <th>Discount</th>
                        <th>Minimum Amount</th>
                        <th>User_Count</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                        
                        <th></th>
                        <th></th>
                    </tr>
                    {% for coupon in coupons %}

                    <tr>
                        <td>{{coupon.code}}</td>
                        <!-- <td>{{coupon.disc_type}}</td> -->
                        <td>{{coupon.discount}} 
                            {% if coupon.disc_type == 'Percentage' %}
                            %
                            {% else %}
                            Rs
                            {% endif %}
                        </td>
                        <td>{{coupon.min_amount}}</td>
                        <td>{{coupon.usercount}}</td>
                        <td>{{coupon.startdate}}</td>
                        <td>{{coupon.enddate}}</td>
                        <td>{% if coupon.is_expired == True %}
                            
                            <label for="" class="badge-success">Active</label>   
                            
                            {% else %}

                            <label for="" class="badge-warning">Inactive</label>

                            {% endif %}</td>
                        
                        <td><a href="{% url 'edit_coupon' editcoup_id=coupon.id %}" class="btn btn-secondary">Edit</a></td>
                        <td></td>
                    </tr>

                    {% endfor %}
                    {% else %}
                    <label for="" class="text-primary">No Matches Found</label>
                    {% endif %}
          
        
                </table>
        
            </div>
    
    
        
   
</div>

</div>
<div class="col-lg-1"></div>
</div>

<div class="modal fade" id="deliveryInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'bulk_stock' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title " id="exampleModalLabel">Upload csv</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color: crimson;font-style: italic;font-size: small;" id="erMsg" ></p>
                    <input type="file" name="getCSV" id="onlyCSV" class="form-control">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" type="submit" name="" id="" value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>




{% endblock%}