{% extends 'main.html' %}
{% block content %}
<div class="row">
<div class="col-lg-1"></div>

<div class="col-lg-10">
    <div class="card">
        <div class="card-header">
         <h3>Varient Type</h3>
         <a href="{% url 'add_varienttype' %}" class="btn btn-secondary text-end" style="float:right">Add Varient Type</a>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                  
                    <th>Varient Type</th>
                    <th>Display Order </th>
                    <th>Status </th>

                    <th></th>
                    <th></th>
                </tr>
                {% for data in varienttype %}
                <tr>
                    

                    <td>{{data.varient_name}}</td>
                    <td>{{data.display_order}}</td>
                    <td>{{data.status}}</td>
                    
                    {% if data.status == 'active' %}
                    <td><a href="{% url 'edit_varienttype' var_id=data.id %}" class="btn btn-secondary">Edit</a></td>
                    <td><a href="{% url 'disable_varienttype' vardis_id=data.id %}" class="btn btn-secondary">Disable</a></td>
                    {% else %}
                    <td></td>
                    <td><a href="{% url 'disable_varienttype' vardis_id=data.id %}" class="btn btn-secondary">Enable</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
    
            </table>
    
        </div>
      </div>
    <div class="row">
    
        
   
</div>

</div>
<div class="col-lg-1"></div>
</div>

{% endblock%}