{% extends 'main.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-header">
                    <h3 class="card-title">Add Catogory</h3>
                  </div>
                  <div class="card-body">

                    {% if form.errors %}
                    <div class="col-lg-12 ">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {% for field in form %}
                            <!-- For each error in field -->
                                {% for error  in field.errors %}
                                    <!-- Output error text message only -->
                                        <div>{{error}}</div>
                                    {% endfor %}
                              {% endfor %}
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                    </div>
                {% endif %}


                    <div class="row">
                      <div class="col-md-6 col-lg-6">
                       
                        <div class="form-group">
                          <label class="form-label">Catogory Name<span class="danger" style="color: red;"> *</span></label>
                          {{form.catogory_name}}
                        </div>
                        </div>
                     
                      <div class="col-md-6 col-lg-6">
                         <div class="form-group">
                          <label class="form-label">Catogory Image<span class="danger" style="color: red;"> *</span><span style="font-size: smaller;font-style: italic;color: crimson;"> (Upload image of 1200*600px for better performance.)</span> </label>
                          <div >
                            {{form.catogory_image|cut:'images/catogory/'}}
              
                          </div>
                          </div>
                          </div>

                          <div class="col-md-6 col-lg-6">
                       
                            <div class="form-group">
                              <label class="form-label">Parent  
                                <span class="danger"></span><span style="color:red;font-style:italic;font-size: smaller">(leave parent blank if no parent catogory)</span></label>
                              {{form.parent}}
                            </div>
                            </div>

                            <div class="col-md-6 col-lg-6">
                       
                                <div class="form-group">
                                  <label class="form-label">Display Order<span class="danger" style="color: red;"> *</span></label>
                                  {{form.display_order}}
                                  <div id="orderData"></div>
                                </div>
                                </div>

                                <div class="col-md-6 col-lg-6">
                       
                                    <div class="form-group">
                                      <label class="form-label">Status<span class="danger" style="color: red;"> *</span></label>
                                      {{form.status}}
                                    </div>
                                    </div>
                           
                      
                    </div>
                    <div class="col-lg-12">
                        <center><button class="btn btn-secondary  mt-5">Submit</button></center>
                    </div>
                    </div>
                    </div>
           
        </form>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>

<script>
   $(document).ready(function () {
    $('#id_display_order').on('change',function(){
            var order = $('#id_display_order').val()
            $.ajax({
                data:{'p':order},
                url:"{% url 'display_order' %}",
                success: function (response) {
                    console.log(response.data)
                    if(response.data==true){
                        let html_data = '<span style="font-size:smaller;font-style: italic;color: red">Display order already taken</span>'
                        $("#orderData").html(html_data);
                        $('#id_display_order').val('');
                    }else{
                        $("#orderData").html('');
                    }  
                },
                error:function (response) {
                    alert('error')
                },
            })
        })
    })


 
</script>


{% endblock %}