{% extends 'main.html' %}
{% block content %}

<div class="col-lg-12 mt-5 ">
  <div class="card">
   
    <div class="card-header">
      <div class="row">
        <div class="col-4">
          <h3 class="card-title" style="float: left;">Order Details</h3>
        </div>
        <div class="col-4"></div>
        <div class="col-4">
          <div class="ml-auto" style="float: right;">
            <button href="#" id="filter-btn" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Filter"><i
                class="fa fa-filter"></i></button>

          </div>
        </div>


      </div>
    </div>
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap">
        <thead>
            <tr>
              <th><b>#</b></th>
              <th><b>PRODUCT NAME</b></th>
              <th><b>AMOUNT</b></th>
              <th><b>COUNT</b></th>
              
              <th><b>ORDER DATE</b></th>
              <th><b>TOTAL</b></th>
              <th></th>
              <th></th>
                
            </tr>
          </thead>
          <tbody>
            {% for order in orders %} 
           
            
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ order.product.Name }}</td>
              <td>{{order.order_total}}</td>
              <td>{{ order.count }}</td>
              <td>{{ order.order_date }}</td>
              <td>{{ order.order_total }}</td>
             
              <!-- <td> <td><a href="" class="btn btn-secondary">Payment Status</a></td></td> -->
              
              
             
              <td> 
                    
                      
              
  
              </td>
            </tr> 
  
          
             {% endfor %}
  
          </tbody>
      </table>
    </div>
    <div class="pagination">
      <ul>
      </ul>
    </div>
  </div>
 

  {% endblock %}