{% extends 'user_main.html' %}
{% block content %}



<!-- banner  -->
<div class="banner" id="banner">
	<div class="owl-carousel">
	{% for banners in banner %}
	
	<div class="item">
	<a href=""><img src="/media/{{banners.app_banner_image}}" style="width: 1360px;height:400px; margin: 0; cursor: pointer;"></a>
	</div>
	
	{% endfor %}
	<!-- <div class="item">
	<a href=""><img src="https://wazaitoon.com/uploads/banners/cate52980371.jpg" style="width: 100%; margin: 0; cursor: pointer;"></a>
	</div> -->
	</div>
	</div>



	<div class="bride-grids" style="margin-top: 20px">
		<div class="container ">
			<div class="row ">
			{% for cat in catogory%}
				<div class="col-6 col-sm-6 col-md-2 bride-grid ">
					<div class="content-grid l-grids">
						<a href="/products/?cat_id={{cat.id}}">
							<figure class="effect-bubba">
								<img src="/media/{{cat.catogory_image}}" alt="" />
								<figcaption>
									<h4>{{cat.catogory_name}} </h4>
									<p>More..</p>
								</figcaption>
							</figure>
						</a>
					<div class="clearfix"></div>
					<h3 style="    text-transform: none;">{{cat.catogory_name}}</h3>
					</div>
				</div>
			{% endfor %}
			<div class="clearfix"></div>
			</div>
		</div>
	</div>


	<div class="featured">
		<div class="container">
			<h3>Latest Products</h3>
			<div class="feature-grids">
			
				{% for prod in products %}
				{% for pro in prod.product_varients_set.all%}
				{% if forloop.first %}
					<div class="col-md-3 feature-grid jewel">
						<a href="{% url 'product_item' prod_id=pro.id %}">
						{% for  img in prod.productimage_set.all%}
						{% if forloop.first %}
							<img src="/media/{{img.Thumbnail_image}}" class="img-responsive" alt="" />
						{% endif %}
						{% endfor %}
							<div class="arrival-info">
							<h4>{{prod.Name}}({{pro.Varient_Values}}) </h4>
							
								<input type="text" name="" value="{{pro.id}}"  hidden>
								<input type="text" name="" value="1" class="qty" hidden>
								<div class="" style="font-family: Roboto, Arial, sans-serif">
								<strike ">{{pro.Display_Prize}}/-</strike>
								</div>

								<div class="" style="font-family: Roboto, Arial, sans-serif">
								<span class="item_price">{{pro.Selling_Prize}}/-</span></div>
								</a>
								<div class="add-to-cart">
								
								<a href=""  id="{{pro.id}}" class="add-cart cart-check add-to-cart-btn"  title="Add to Cart"><i class="fas fa-shopping-bag">&nbsp;</i> Add to Cart</a>
								</div>
								<div class="divLoad" style="display: none;"></div>
							</div>
									
								<div class="viw">
								
								</div>
								<div class="shrt">
									<a href="javascript:void(0)" data-id="{{pro.id}}"  class="button add-Cart add-to-wish-btn" title="Add to Wishlist"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>Wishlist</a>
								
								</div>
						
					</div>
				{% endif %}
				{% endfor %}
				{% endfor %}

			<div class="divLoad" style="display: none;"></div>
			<div class="clearfix"></div>
			</div>
		</div>
	</div>



   <!-- add to wishlist -->
   <script>
	   		$('.add-to-wish-btn').click(function(){
		   var varient_type=$(this).attr('data-id')
		   
			
		   $('.divLoad').show();
		   console.log(varient_type)

		   if (varient_type) {
			   $.ajaxSetup({
			   headers:{"X-CSRFToken":'{{csrf_token}}'}
		   })
			   $.ajax({
				   type:'POST',
				   url:'{% url "wishlist" %}',
				   data:{
					   'varient_id':varient_type,
					  
				   },
				   success: (data) => {
					$('.divLoad').hide();
					
					   if (data.login){
						   
						   alertify.success(data.login)
						   document.location.href="/login_user/"
   
					   }
					   else{
						alertify.success(data.message)

						   count_html="("+ data.count+ ")"
   
						   $('.wishlist-total').html(count_html)
   
					   }
					   
				
					   }
			   })
		   }
	   })
   
   </script>

   <!-- end wishlist -->

   
	<!-- add to cart -->
	<script>
		$(document).ready(function(){
			$('.add-to-cart-btn').click(function(){
		   var varient_type=$(this).attr('id')
		   var qty=$('.qty').val()
		   if (varient_type) {
			   $.ajaxSetup({
			   headers:{"X-CSRFToken":'{{csrf_token}}'}
		   })
			   $.ajax({
				   type:'POST',
				   url:'{% url "add_to_cart" %}',
				   data:{
					   'varient_id':varient_type,
					   'qty':qty,
				   },
				   success: (data) => {
					   if (data.login){
						  
						 alert(data.login)
						   
						   document.location.href="/login_user/"
   
					   }
					   else{
						if(data.stock)
							{
								alert(data.stock)

							}
						if(data.incart)
							{
								alert(data.incart)  
							}
						if(data.message && data.count)
								{
								console.log(data.message)
								alert(data.message)
								
								count_html="("+ data.count+ ")"
		
								$('.cart_total').html(count_html)
		
							}
					   

					   }
					   
				
					   }
			   })
		   }
	   })

		})
	
	   
   </script>
   <!-- end -->

	{% endblock %}
	