{% extends 'user_main.html' %}
{% block content %}


<style>
	.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #1b242f;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
</style>

<div class="product-model">
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'Home' %}">Home</a></li>
        <li class="active">Offers</li>
    </ol>

	{% if offer %}
	{% for offers in offer %}
	{% if offers.is_expired == True %}

	<div class="arrivals">
		<h3>{{offers.offer_name}}</h3>
		<div class="arrival-grids">
		<ul id="flexiselDemo1">
			{% for products in offers.Product_Offers.all %}
		
			
		<li>
		<a href="{% url 'product_item' prod_id=products.id %}">
			{% for img in products.product.productimage_set.all %}
			{% if forloop.first %}
		<img src="/media/{{img.Thumbnail_image}}" class="img-responsive" alt="" />
		{% endif %}	
		{% endfor %}
		<div class="arrival-info">
		<p>{{products.product.Name}}</p>
		<h4>{{products.Varient_Values.varient_values}}</h4>
		<strike><p>&#8377 {{products.Display_Prize}}/-</p></strike>
		<p>&#8377 {{products.Selling_Prize}}/-</p>
		<span class="disc"></span>
		</div>
		</a>
		</li>

	

		{% endfor %}

		</ul>
		</div>
		</div>

	{% endif %}

	{% endfor  %}

	{% else %}

	<h1>No Offers Available</h1>
	
	{% endif %}




</div>
</div>

<script>

							$(document).ready(function(){



							$(".mytab .single-bottom").hide();



								$(".mytab ").click(function(){

									var sel = $(this).attr("id");

									$("#"+sel+" .single-bottom").slideToggle(300);

   									$(".mytab:not(#"+sel+")  .single-bottom").hide();

								})



								

							});

						</script>
<script type='text/javascript'>//<![CDATA[ 

					$(window).load(function(){

					 $( "#slider-range" ).slider({

								range: true,

								min: 0,

								max: 400000,

								values: [ 8500, 350000 ],

								slide: function( event, ui ) {  $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );

								}

					 });

					$( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) + " - $" + $( "#slider-range" ).slider( "values", 1 ) );



					});//]]> 

					</script>
<script type="text/javascript">

	$(document).on('click','.quick-view-btn',function(e){

	e.preventDefault();

	var id = $(this).attr('data-id');

	var key = $(this).attr('data-key');



	$('#myModal'+key+'').modal('show');

	

	

})

</script>
<script type="text/javascript">
	
/** After windod Load */
	$(window).bind("load", function() {

 	 window.setTimeout(function() {

    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
    });

}, 4000);

});

</script>
<style type="text/css">

	.pid

	{

		margin-top: 10px;

		font-size: 15px;

	}

	.prdt-cost ul li

	{

		font-size: 15px;

	}

</style>
<script type="text/javascript">

	$(document).on('click','.add-to-cart-btn',function(e){

	e.preventDefault();

	var elem = $(this);

	var htm = elem.html();

	var product = $(this).attr('data-id');

	var price = $(this).attr('data-price');

	var offer = $(this).attr('data-offer');

	var offer_price = $(this).attr('data-oprice');

	var is_cart=1;


	$('.divLoad').show(); 

	

	if(offer_price) offer_price = offer_price;

	else offer_price = price;
	$.ajax({

		type:'post',

		url:'https://wazaitoon.com/Cart/add_to_cart',

		data:{product:product,price:price,offer_price:offer_price,offer:offer},

		success: function(out){
		    // $('.divLoad').hide();

			var out = JSON.parse(out);
 // alert(out); exit();
			if(out.status==1){

				var cart = '<i class="fas fa-shopping-bag"></i> My Cart ( <span>'+out.cart.cart_nos+'</span> )<i class="fas fa-rupee-sign"></i> <span>'+out.cart.cart_total+'</span>';

				$('.vendor-cart .checkout-btn').html(cart);

				elem.html('<i class="fa fa-check"></i>');

				elem.addClass('add_to_cart_suc');

				elem.parent().find('.add-to-cart-btn').after('<p class="e-msg">'+out.data+'</p>');

				setTimeout(function(){

					elem.html(htm);

					elem.removeClass('add_to_cart_suc');

					elem.parent().find('.e-msg').remove();
					location.reload();

				},2000);

			

			}

			else if(out.status == 2){

				 window.location.href="https://wazaitoon.com/Account";

				//window.location.href = base_url+'Account?add_to_cart='+is_cart+'&product='+product;

			}

			else{
				// alert("fdsf");
 // window.location.href="https://wazaitoon.com/Account";
				elem.parent().find('.add-to-cart-btn').after('<p class="e-msg">'+out.data+'</p>');

				elem.html('<i class="fa fa-times"></i>');

				elem.addClass('add_to_cart_err');

				setTimeout(function(){

					elem.html(htm);

					elem.removeClass('add_to_cart_err');

					elem.parent().find('.e-msg').remove();

				},2000);

			}

		}

	})

})

</script>
<script type="text/javascript">
	$(document).on('click','.add-to-wish-btn',function(e){
		
		e.preventDefault();
		var elem = $(this);
		var htm = elem.html();
		var product = $(this).attr('data-id');
		var price = $(this).attr('data-price');
		var offer = $(this).attr('data-offer');
		var offer_price = $(this).attr('data-oprice');
		var note = '';
		
		if(offer_price) offer_price = offer_price;
		else offer_price = price;
		$('.divLoad').show();
		$.ajax({
			type:'post',
			url:'https://wazaitoon.com/Wishlist/add_wish_list',
			data:{product:product,price:offer_price},
			success: function(out){
			    $('.divLoad').hide();
				var out = JSON.parse(out);
				if(out.status==1){
					// var cart = '<i class="fas fa-shopping-bag"></i> My Cart ( <span>'+out.cart.cart_nos+'</span> )<i class="fas fa-rupee-sign"></i> <span>'+out.cart.cart_total+'</span>';
					// $('.vendor-cart .checkout-btn').html(cart);
					elem.html('<i class="fa fa-check"></i>');
					elem.addClass('add_to_cart_suc');
					elem.parent().find('.add-to-wish-btn').after('<p class="e-msg" style="color: green;float: right;margin-right: 20px; font-size:14px;">'+out.data+'</p>');
					setTimeout(function(){
						elem.html(htm);
						elem.removeClass('add_to_cart_suc');
						elem.parent().find('.e-msg').remove();
						location.reload();
					},2500);
					

					
				}
				else if(out.status == 2){
					window.location.href="https://wazaitoon.com/Account";
				}
				else{
					elem.parent().find('.add-to-wish-btn').after('<p class="e-msg">'+out.data+'</p>');
					elem.html('<i class="fa fa-times"></i>');
					elem.addClass('add_to_cart_err');
					setTimeout(function(){
						elem.html(htm);
						elem.removeClass('add_to_cart_err');
						elem.parent().find('.e-msg').remove();
					},1400);
				}
			}
		})
	})
</script>
<script type="text/javascript">

	$(document).on('click','.remove-wish-product-guest-btn',function(e){
	e.preventDefault();
	var prdt = $(this).attr('data-prdt');
 	// alert(id);
	var vendor = $(this).attr('data-vendor');

	var msg ='Confirm remove your wishlist!';
    $.confirm({

      title: msg,

      // content: 'Cant be reversed!',

      buttons: {

          confirm: function () {

	$.ajax({
			type:'post',
			url:'https://wazaitoon.com/Wishlist/remove_wish_product',
			data:{prdt:prdt,vendor:vendor},
			success: function(out){
				var out = JSON.parse(out);
				if(out.status==1){
					window.location.reload();
				}
				else{
					alert(out.data);
				}
			}
		})
	},

          cancel: function () {

              console.log('Cancelled!');

          }

      }

  })
})

	$(document).on('click','.remove-wish-btn',function(e){

		
		e.preventDefault();
		var elem = $(this);
		var htm = elem.html();
		var id = $(this).attr('data-id');
		// var price = $(this).attr('data-price');
		// var offer = $(this).attr('data-offer');
		// var offer_price = $(this).attr('data-oprice');
		var note = '';
		
		// if(offer_price) offer_price = offer_price;
		// else offer_price = price;
		 $('.divLoad').show();
		// alert("xsfvgb");
		$.ajax({
			type:'post',
			url:'https://wazaitoon.com/Wishlist/remove_wish_productlist',
			data:{id:id},
			success: function(out){
			     $('.divLoad').hide();
				var out = JSON.parse(out);
				if(out.status==1){
					// var cart = '<i class="fas fa-shopping-bag"></i> My Cart ( <span>'+out.cart.cart_nos+'</span> )<i class="fas fa-rupee-sign"></i> <span>'+out.cart.cart_total+'</span>';
					// $('.vendor-cart .checkout-btn').html(cart);
					elem.html('<i class="fa fa-check"></i>');
					elem.addClass('add_to_cart_suc');
					elem.parent().find('.remove-wish-btn').after('<p class="e-msg" style="color: red;float: right;margin-right: 20px; font-size:14px;">'+out.data+'</p>');
					setTimeout(function(){
						elem.html(htm);
						elem.removeClass('add_to_cart_suc');
						elem.parent().find('.e-msg').remove();
						location.reload();
					},2500);
					

					
				}
				else if(out.status == 2){
					window.location.href="https://wazaitoon.com/Account";
				}
				else{
					elem.parent().find('.add-to-wish-btn').after('<p class="e-msg">'+out.data+'</p>');
					elem.html('<i class="fa fa-times"></i>');
					elem.addClass('add_to_cart_err');
					setTimeout(function(){
						elem.html(htm);
						elem.removeClass('add_to_cart_err');
						elem.parent().find('.e-msg').remove();
					},1400);
				}
			}
		})
	})
</script>
<script type="text/javascript">

$(document).on('click','#quotation',function(e){

	e.preventDefault();

	
	var product = $(this).attr('data-id');

	var product_name = $(this).attr('data-name');

	var product_code = $(this).attr('data-code');

	var image = $(this).attr('data-image');

	$('.p_id').val(product);

	$('.p_code').html('Code:'+product_code);

	$('.p_name').html(product_name);

	// $('.p_image').html(image);

    $('.p_image').attr("src",image);
	

	$('#get_quotation').modal('show');

})



$(document).on('click','#quotation-btn',function(e){

	var product_id = $.trim($('.p_id').val());
	var mobile_no = $.trim($('.mobile_no').val());
	var user_name = $.trim($('#user_name').val());
	var user_email = $.trim($('#user_email').val());
	var message = $.trim($('#msg').val());

	   // alert(mobile_no); 
	 $("#quotation-btn").attr("disabled", true); 
    	 $("#quotation-btn").css('cursor', 'not-allowed');


		$.ajax({

			type:'post',

			data:{product_id:product_id,mobile_no:mobile_no,user_name:user_name,user_email:user_email,message:message},

			url:base_url+'Product/get_quotation',

			success: function(out){

				var out = JSON.parse(out);

				var msg;

				if(out.status == 1){

							 location.reload();


				}

				else{

					//  msg = 'Order id does not exist';

					//  $('.check_order_msg').attr('style', 'color: red !important');

					//   $('.check_order_msg').show();

				 // $('.check_order_msg').html(msg);



				}

				//console.log(msg);

				





			}

		})

	

})

</script>
<script type="text/javascript">

  $(document).ready(function(){
    

    $(document).on('keyup',".numberonly",function (e) {
      // alert("zv"); 
      
// alert("dfgfrg");
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||

            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || 

            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {

            // let it happen, don't do anything
            return;

        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();

        }

    });

});

</script><style type="text/css">
	.primal-ftr{

	    width: 14px;
	    display: inline-block;
        margin: -3px 2px 0 0;
	}
   
</style>

<script type="text/javascript">

	

	$(document).ready(function(){

// alert("dffgdfgg");

		$.ajax({

			type:'post',

// 			data:{pincode:pincode},

			url:'https://wazaitoon.com/Wishlist/get_wish_list_count',

			success: function(out){

				var out = JSON.parse(out);

				var msg;

				var count=out.msg;

				console.log(count);

				if(out.status == 1){

					// alert("hii");

				

					$('.wishlist').html('<a href="https://wazaitoon.com/Wishlist" title="My Wish List"  style="color: #fff;">'+count+'</a>');

				}else if(out.status == 2){

					// alert("hoi");

					$('.wishlist').html('<a href="https://wazaitoon.com/Wishlist" title="My Wish List"  style="color: #fff;">0</a>');

				}

				else{

					// alert("has");

					$('.wishlist').html('<a href="https://wazaitoon.com/Wishlist" title="My Wish List"  style="color: #fff;">0</a>');



				}

			





			}

		});





	});

</script>
<script type="text/javascript">
	
	$(".numberonly").keydown(function (e) {
    // Allow: backspace, delete, tab, escape, enter and .
    if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
         // Allow: Ctrl+A, Command+A
        (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || 
         // Allow: home, end, left, right, down, up
        (e.keyCode >= 35 && e.keyCode <= 40)) {
             // let it happen, don't do anything
             return;
    }
    // Ensure that it is a number and stop the keypress
    if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
        e.preventDefault();
    }
});
</script>
<script type="text/javascript">

	$(document).ready(function(){
	// alert("dfgfrg");

    $(document).on('keydown',".numberonly",function (e) {
    	

        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||

            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || 

            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {

            // let it happen, don't do anything
            return;

        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();

        }

    });

});

</script>
<script type="text/javascript">

	

	$(document).ready(function(){

// alert("dffgdfgg");

		$.ajax({

			type:'post',

// 			data:{pincode:pincode},

			url:'https://wazaitoon.com/Cart/get_cart_list_count',

			success: function(out){

				var out = JSON.parse(out);

				var msg;

				var count=out.msg;

				console.log(count);

				if(out.status == 1){

					// alert("hii");

				

					$('.cartlist').html('<a href="https://wazaitoon.com/Cart" title="My Cart List"  style="color: #fff;">'+count+'</a>');

				}else if(out.status == 2){

					// alert("hoi");

					$('.cartlist').html('<a href="https://wazaitoon.com/Cart" title="My Cart List"  style="color: #fff;">0</a>');

				}

				else{

					// alert("has");

					$('.cartlist').html('<a href="https://wazaitoon.com/Cart" title="My Cart List"  style="color: #fff;">0</a>');



				}

			





			}

		});





	});







	function selectDistrict(event){

	var id = $(event).val();

	$.ajax({

		type:'post',

		url:base_url+'addresses/get_districts',

		data:{id:id},

		success: function(out){

			if(out.status == 404){

				window.location.href = base_url;

			}

			else{

				var out = JSON.parse(out);

				var htm = '<option selected="selected" disabled value="">Select</option>';

				for(var i=0;i<out.length;i++){

					htm += '<option value="'+out[i].district_id+'">'+out[i].district_name+'</option>';

				}

				$('.districts').html(htm);

			}

		}

	})

}

</script>
<script type="text/javascript">

$(document).on('click','#track',function(e){

	e.preventDefault();



	



	

	$('#myModal_track').modal('show');

})



$(document).on('click','#track-btn',function(e){

	var order_id = $.trim($('#order_id').val());
	var mobile_no = $.trim($('#mobile_no').val());

	//var id = $(this).attr('data-id');

	// alert(order_id); 

	if(order_id){
		if(mobile_no){

		//$('#delivery_pincode').parent().css('border-bottom','2px solid #2874f0');

		$.ajax({

			type:'post',

			data:{order_id:order_id,mobile_no:mobile_no},

			url:base_url+'Orders/track_order_by_id',

			success: function(out){

				var out = JSON.parse(out);

				var msg;

				if(out.status == 1){

							window.location.href = base_url+'Orders/my_order_track?order_id='+order_id



				}

				else{

					 msg = 'Order id does not exist';

					 $('.check_order_msg').attr('style', 'color: red !important');

					  $('.check_order_msg').show();

				 $('.check_order_msg').html(msg);



				}

				//console.log(msg);

				





			}

		})
		}
else{

		$('#mobile_no').focus();

		msg = 'Please enter your Mobile number';

		$('.check_order_msg').show();

		 $('.check_order_msg').html(msg);

	}

	}

	else{

		$('#order_id').focus();

		msg = 'Please enter your Order id';

		$('.check_order_msg').show();

		 $('.check_order_msg').html(msg);

	}


})

</script>
<script>
	$('.banner .owl-carousel').owlCarousel({
	autoplay:true,
	autoplayTimeout:5000,
	autoplayHoverPause:false,
	smartSpeed:1000,

	animateOut: 'fadeOut',
    animateIn: 'fadeIn',

	loop:true,
	margin:0,

	dots: true,
	nav: true,
	navText : ['<i class="fas fa-chevron-left"></i>','<i class="fas fa-chevron-right"></i>'],

	responsive:{

	  0:{ items:1 },
	  600:{ items:1 },
	  1000:{ items:1 }
	}
});
</script>

        
        
<script>
	$('.add-to-cart-btn').click(function(){
	   var varient_type=$(this).attr('id')
	   var qty=$('.qty').val()
		
	   
	   console.log(varient_type)
	   console.log(qty)
	   if (varient_type) {
		   $.ajaxSetup({
		   headers:{"X-CSRFToken":'{{csrf_token}}'}
	   })
		   $.ajax({
			   type:'POST',
			   url:'{% url "add_to_cart" %}',
			   data:{
				   'varient_id':varient_type,
				   'qty':qty,
			   },
			   success: (data) => {
				   if (data.message){
					   
					   alert(data.message)

				   }
				   else{
					   count_html="("+ data.count+ ")"

					   $('.cart_total').html(count_html)

				   }
				   
			
				   }
		   })
	   }
   })





   
</script>
{% endblock %}