{% extends 'user_main.html' %}
{% block content %}
{% load customFilter %}

<style>
	.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #1b242f;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
</style>

<div class="product-model">
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'Home' %}">Home</a></li>
        <li class="active">{{cat_name}}</li>
    </ol>

    <div class="dropdown" style="float:right;    margin-bottom: 10px;">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" mouse-hover="dropdown" style="font-size: 11px;">
        Sort by : <b>Recommended</b>&nbsp; 
        </button>
    <ul class="dropdown-menu" style="float:left; padding: 5px 22px;">
	{% if cat_id %}
        <li><a href="/products/?cat_id={{cat_id}}&sort=0">What's New</a></li>
        <li><a href="/products/?cat_id={{cat_id}}&sort=1">Price: Low to High</a></li>
        <li><a href="/products/?cat_id={{cat_id}}&sort=2">Price: High to Low</a></li>
	{% else %}
		<li><a href="/products/?sort=0">What's New</a></li>
        <li><a href="/products/?sort=1">Price: Low to High</a></li>
        <li><a href="/products/?sort=2">Price: High to Low</a></li>	
	{% endif %}

    </ul>
    </div>

	<h2> <span style="text-align:center;">Our Products  </span></h2>

<div class="rsidebar span_1_of_left sh-mobile-off">
<section class="sky-form">
<div class="product_right">
<h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Categories</h4>
{% for cat in catogory %}
<div class="mytab" id="{{cat.id}}">
<ul class="place">
<li class="sort">
	<a href="/products/?cat_id={{cat.id}}"> {{cat.catogory_name}}</a>
</li>
<li class="by"><img src="https://wazaitoon.com/assets/front/images/arrow-down12.png" alt=""></li>
<div class="clearfix"> </div>
</ul>
{% for all in allcat %}
{% if cat.id == all.parent_id %}

<div class="single-bottom">
    <a href="/products/?cat_id={{all.id}}"><p>{{all.catogory_name}}</p></a>
</div>

{% endif %}
{% endfor %}


</div>
{% endfor %}

</div>
</section>
</div>


<div class="col-md-9 product-model-sec">
    {% for product in products|remove_duplicate %}
    {% for pro in product.product_varients_set.all %} 
	{% if forloop.first %}

<div class="product-grid love-grid">
<div class="more-product"><span> </span></div>
<div class="product-img b-link-stripe b-animate-go  thickbox">
	
<div class="shrt">
	<a href="javascript:void(0)" data-id="{{pro.id}}"  class="button add-Cart add-to-wish-btn" title="Add to Wishlist"></span>Wishlist</a>
</div>

    {% for  img in product.productimage_set.all%}
    {% if forloop.first %}
	<a href="{% url 'product_item' prod_id=pro.id %}">
		<img src="/media/{{img.Thumbnail_image}}" class="img-responsive" alt="" />
	</a>
        
    {% endif %}
    {% endfor %}

</a>

</div>
<a href="">
<div class="product-info simpleCart_shelfItem" style="text-align: center;">
<div class="product-info-cust">
<h4>{{pro.product}}-{{pro.Varient_Values.varient_values}}</h4>


<div class="" style="font-family: Roboto, Arial, sans-serif">
    <div class="" style="font-family: Roboto, Arial, sans-serif">
        <strike ">{{pro.Display_Prize}}/-</strike>
        </div>

        <div class="" style="font-family: Roboto, Arial, sans-serif">
        <span class="item_price">{{pro.Selling_Prize}}/-</span></div>
</div>
<br>
<input type="text" value="1" class="qty" hidden>
<div class="add-to-cart">
<a  class="add-cart cart-check add-to-cart-btn" id="{{pro.id}}" title="Add to Cart"><i class="fas fa-shopping-bag">&nbsp;</i> Add to Cart</a>
</div>
<div class="divLoad" style="display: none;"></div>

</div>
<div class="clearfix"> </div>
</div>
</a>
</div>


	{% endif %}
	{% endfor %}


{% endfor %}

</div>




	</div>
	<div class="row">
		<div class="col-sm-3"></div>
	
		<div class="col-sm-6">
		<div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate" style="float: right;">
			<ul class="pagination">
				{% if products.has_previous %}
				<li class="page"><a href="?page={{products.previous_page_number}}" data-ci-pagination-page="2">Previous</a></li>
				{% endif %}
				<li class="active">
					<a href="">{{products.number}}</a></li>
				{% if products.has_next %}	
				<li class="page"><a href="?page={{products.next_page_number}}" data-ci-pagination-page="3">Next</a></li>
				{% endif %}
					
			
			</ul>
			</div>
			</div>
			<div class="col-sm-3"></div>
		</div>
	





</div>

<script>

							$(document).ready(function(){



							$(".mytab .single-bottom").hide();



								$(".mytab ").click(function(){

									var sel = $(this).attr("id");

									$("#"+sel+" .single-bottom").slideToggle(300);

   									$(".mytab:not(#"+sel+")  .single-bottom").hide();

								})



								

							});

</script>

<script type='text/javascript'>//<![CDATA[ 

					$(window).load(function(){

					 $( "#slider-range" ).slider({

								range: true,

								min: 0,

								max: 400000,

								values: [ 8500, 350000 ],

								slide: function( event, ui ) {  $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );

								}

					 });

					$( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) + " - $" + $( "#slider-range" ).slider( "values", 1 ) );



					});//]]> 

</script>

<script type="text/javascript">

	$(document).on('click','.quick-view-btn',function(e){

	e.preventDefault();

	var id = $(this).attr('data-id');

	var key = $(this).attr('data-key');



	$('#myModal'+key+'').modal('show');

	

	

})

</script>
<script type="text/javascript">
	
/** After windod Load */
	$(window).bind("load", function() {

 	 window.setTimeout(function() {

    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
    });

}, 4000);

});

</script>
<style type="text/css">

	.pid

	{

		margin-top: 10px;

		font-size: 15px;

	}

	.prdt-cost ul li

	{

		font-size: 15px;

	}

</style>








<script type="text/javascript">

  $(document).ready(function(){
    

    $(document).on('keyup',".numberonly",function (e) {
      // alert("zv"); 
      
// alert("dfgfrg");
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||

            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || 

            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {

            // let it happen, don't do anything
            return;

        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();

        }

    });

});

</script>
<style type="text/css">
	.primal-ftr{

	    width: 14px;
	    display: inline-block;
        margin: -3px 2px 0 0;
	}
   
</style>


<script type="text/javascript">
	
	$(".numberonly").keydown(function (e) {
    // Allow: backspace, delete, tab, escape, enter and .
    if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
         // Allow: Ctrl+A, Command+A
        (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || 
         // Allow: home, end, left, right, down, up
        (e.keyCode >= 35 && e.keyCode <= 40)) {
             // let it happen, don't do anything
             return;
    }
    // Ensure that it is a number and stop the keypress
    if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
        e.preventDefault();
    }
});
</script>
<script type="text/javascript">

	$(document).ready(function(){
	// alert("dfgfrg");

    $(document).on('keydown',".numberonly",function (e) {
    	

        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||

            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || 

            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {

            // let it happen, don't do anything
            return;

        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();

        }

    });

});

</script>

<!-- <script type="text/javascript">

$(document).on('click','#track',function(e){

	e.preventDefault();


	$('#myModal_track').modal('show');

})



$(document).on('click','#track-btn',function(e){

	var order_id = $.trim($('#order_id').val());
	var mobile_no = $.trim($('#mobile_no').val());

	//var id = $(this).attr('data-id');

	// alert(order_id); 

	if(order_id){
		if(mobile_no){

		//$('#delivery_pincode').parent().css('border-bottom','2px solid #2874f0');

		$.ajax({

			type:'post',

			data:{order_id:order_id,mobile_no:mobile_no},

			url:base_url+'Orders/track_order_by_id',

			success: function(out){

				var out = JSON.parse(out);

				var msg;

				if(out.status == 1){

							window.location.href = base_url+'Orders/my_order_track?order_id='+order_id



				}

				else{

					 msg = 'Order id does not exist';

					 $('.check_order_msg').attr('style', 'color: red !important');

					  $('.check_order_msg').show();

				 $('.check_order_msg').html(msg);



				}

				//console.log(msg);

				





			}

		})
		}
else{

		$('#mobile_no').focus();

		msg = 'Please enter your Mobile number';

		$('.check_order_msg').show();

		 $('.check_order_msg').html(msg);

	}

	}

	else{

		$('#order_id').focus();

		msg = 'Please enter your Order id';

		$('.check_order_msg').show();

		 $('.check_order_msg').html(msg);

	}


})

</script> -->
<script>
	$('.banner .owl-carousel').owlCarousel({
	autoplay:true,
	autoplayTimeout:5000,
	autoplayHoverPause:false,
	smartSpeed:1000,

	animateOut: 'fadeOut',
    animateIn: 'fadeIn',

	loop:true,
	margin:0,

	dots: true,
	nav: true,
	navText : ['<i class="fas fa-chevron-left"></i>','<i class="fas fa-chevron-right"></i>'],

	responsive:{

	  0:{ items:1 },
	  600:{ items:1 },
	  1000:{ items:1 }
	}
});
</script>

        
        
<script>
	$('.add-to-cart-btn').click(function(){
	   var varient_type=$(this).attr('id')
	   var qty=$('.qty').val()
		
	   
	   console.log(varient_type)
	   console.log(qty)
	   if (varient_type) {
		   $.ajaxSetup({
		   headers:{"X-CSRFToken":'{{csrf_token}}'}
	   })
		   $.ajax({
			   type:'POST',
			   url:'{% url "add_to_cart" %}',
			   data:{
				   'varient_id':varient_type,
				   'qty':qty,
			   },
			   success: (data) => {
				if (data.login){
						  
                          alertify.success(data.login)
                            
                            document.location.href="/login_user/"
    
                        }
                        else if(data.stock)
                        {
                         alertify.success(data.stock)
 
                        }
                        else if(data.incart)
                        {
                         alertify.success(data.incart)  
                        }
                       

				else{
						alert(data.message)

					   count_html="("+ data.count+ ")"

					   $('.cart_total').html(count_html)

				   }
				   
			
				   }
		   })
	   }
   })





   
</script>

<script>
	$('.add-to-wish-btn').click(function(){
var varient_type=$(this).attr('data-id')

 
$('.divLoad').show();
console.log(varient_type)

if (varient_type) {
	$.ajaxSetup({
	headers:{"X-CSRFToken":'{{csrf_token}}'}
})
	$.ajax({
		type:'POST',
		url:'{% url "wishlist" %}',
		data:{
			'varient_id':varient_type,
		   
		},
		success: (data) => {
		 $('.divLoad').hide();
		 if (data.login){
						   
						   alert(data.login)
						   document.location.href="/login_user/"
   
					   }
				else{
						alert(data.message)


				count_html="("+ data.count+ ")"

				$('.wishlist-total').html(count_html)

			}
			
	 
			}
	})
}
})

</script>
{% endblock %}