{% extends 'user_main.html' %}
{% load static %}
{% block content %}

<div class="container">
<ol class="breadcrumb">
<li><a href="{% url 'Home' %}">Home</a></li>
<li class="active">Profile</li>
</ol>
<div class="section mtb-20p">
<div class="container">
<div class="row">
<div class="col-xs-12">
<div class="row profile-menu">
<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
<div class="profile">
<div class="pic"></div>
<div class="disc">


</div>
</div>
</div>
<div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
<ul>
    <li><a href="{% url 'user_profile'%}" class="active">My Profile</a></li>
    <li><a href="{% url 'edit_profile' %}">Edit Profile</a></li>
    <li><a href="{% url 'view_cart' %}" >My Cart</a></li>
    <li><a href="{% url 'confirm-order' %}">My Orders</a></li>

    <li><a href="{% url 'logout_user'%}">Logout</a></li>



</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="section mb-30p">
<div class="container">
<div class="row">
<div class="col-xs-12">
<div class="profile-info ptrbl-20p">
<div class="row">
<div class="col-xs-12 mtb-20p"><h3>My Profile</h3></div>


<div class="col-md-6 col-sm-6 col-xs-12">
<h4 style="color:#008f4c">Personal Information</h4>
<div class="row mtp-10p">
<div class="col-sm-3 col-xs-3">Name</div>
<div class="col-sm-9 col-xs-9">:{{customer.first_name}} {{customer.last_name}} </div>
</div>

<div class="row mtb-10p">
<div class="col-sm-3 col-xs-3">Email</div>
<div class="col-sm-9 col-xs-9">:{{customer.email}} </div>

</div>
<div class="row mtb-10p">
<div class="col-sm-3 col-xs-3">Phone</div>
<div class="col-sm-9 col-xs-9">:{{customer.phone}}</div>
</div>

</div>

<div class="col-md-6 col-sm-6 col-xs-12">
<h4 style="color:#008f4c">Address Details</h4>
{% if addresses %}
{% for add in addresses%}
<div class="row mtb-10p">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <p>{{add.username.first_name}} {{add.username.last_name}}</span>
            </br>{{add.address}}, {{add.locality}} 
            </br> {{add.state}}, {{add.country}} 
            </br> {{add.pin}}</p>
            </div>
          </div>
    </div>
    
<!-- <div class="col-sm-3 col-xs-3">State</div>

<div class="col-sm-9 col-xs-9">: </div> -->
</div>
{% endfor %}
{% else %}
<div class="row mtb-10p">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
               You have not added address
            </div>
          </div>
            <a class="btn btn-success mt-4" href="{% url 'addresses' %}">Add Address</a>
    </div>

</div>
    {% endif %}

<!-- <div class="row mtb-10p">
<div class="col-sm-3 col-xs-3">District</div>

<div class="col-sm-9 col-xs-9">: </div>
</div>
<div class="row mtb-10p">
<div class="col-sm-3 col-xs-3">Locality</div>

<div class="col-sm-9 col-xs-9">: </div>
</div>
<div class="row mtb-10p">
<div class="col-sm-3 col-xs-3">Address</div>

<div class="col-sm-9 col-xs-9">: </div>
</div> -->
</div>



</div>
</div>
</div>
<div class="mb-30p">&nbsp;</div>
</div>
</div>
</div>
</div>

<style type="text/css">
	.primal-ftr{

	    width: 14px;
	    display: inline-block;
        margin: -3px 2px 0 0;
	}
   
</style>



<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script type="text/javascript">


</script>
<script type="text/javascript">
	
	$(".numberonly").keydown(function (e) {
    // Allow: backspace, delete, tab, escape, enter and .
    if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
         // Allow: Ctrl+A, Command+A
        (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || 
         // Allow: home, end, left, right, down, up
        (e.keyCode >= 35 && e.keyCode <= 40)) {
             // let it happen, don't do anything
             return;
    }
    // Ensure that it is a number and stop the keypress
    if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
        e.preventDefault();
    }
});
</script>
<script type="text/javascript">

	$(document).ready(function(){
	// alert("dfgfrg");

    $(document).on('keydown',".numberonly",function (e) {
    	

        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||

            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || 

            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {

            // let it happen, don't do anything
            return;

        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();

        }

    });

});

</script>
<script type="text/javascript">


	function selectDistrict(event){

	var id = $(event).val();

	$.ajax({

		type:'post',

		url:base_url+'addresses/get_districts',

		data:{id:id},

		success: function(out){

			if(out.status == 404){

				window.location.href = base_url;

			}

			else{

				var out = JSON.parse(out);

				var htm = '<option selected="selected" disabled value="">Select</option>';

				for(var i=0;i<out.length;i++){

					htm += '<option value="'+out[i].district_id+'">'+out[i].district_name+'</option>';

				}

				$('.districts').html(htm);

			}

		}

	})

}

</script>
<script type="text/javascript">

$(document).on('click','#track',function(e){

	e.preventDefault();

	



	

	$('#myModal_track').modal('show');

})



$(document).on('click','#track-btn',function(e){

	var order_id = $.trim($('#order_id').val());
	var mobile_no = $.trim($('#mobile_no').val());

	//var id = $(this).attr('data-id');

	// alert(order_id); 

	if(order_id){
		if(mobile_no){

		//$('#delivery_pincode').parent().css('border-bottom','2px solid #2874f0');

		$.ajax({

			type:'post',

			data:{order_id:order_id,mobile_no:mobile_no},

			url:base_url+'Orders/track_order_by_id',

			success: function(out){

				var out = JSON.parse(out);

				var msg;

				if(out.status == 1){

							window.location.href = base_url+'Orders/my_order_track?order_id='+order_id



				}

				else{

					 msg = 'Order id does not exist';

					 $('.check_order_msg').attr('style', 'color: red !important');

					  $('.check_order_msg').show();

				 $('.check_order_msg').html(msg);



				}

				//console.log(msg);

				





			}

		})
		}
else{

		$('#mobile_no').focus();

		msg = 'Please enter your Mobile number';

		$('.check_order_msg').show();

		 $('.check_order_msg').html(msg);

	}

	}

	else{

		$('#order_id').focus();

		msg = 'Please enter your Order id';

		$('.check_order_msg').show();

		 $('.check_order_msg').html(msg);

	}


})

</script>
<script>
	$('.banner .owl-carousel').owlCarousel({
	autoplay:true,
	autoplayTimeout:5000,
	autoplayHoverPause:false,
	smartSpeed:1000,

	animateOut: 'fadeOut',
    animateIn: 'fadeIn',

	loop:true,
	margin:0,

	dots: true,
	nav: true,
	navText : ['<i class="fas fa-chevron-left"></i>','<i class="fas fa-chevron-right"></i>'],

	responsive:{

	  0:{ items:1 },
	  600:{ items:1 },
	  1000:{ items:1 }
	}
});
</script>
{% endblock %}