{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Wazaitoon Online Store</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta property="og:type" content="article" />
<meta property="og:title" content="" />
<meta property="og:description" content="" />
<meta property="og:url" content="https://wazaitoon.com/all_products" />
<meta property="og:site_name" content="Beru" />
<meta property="og:image" itemprop="image" content="https://wazaitoon.com/assets/images/logo-og.pnghttps://wazaitoon.com/" />
<meta property="og:image:width" content="100" />
<meta property="og:image:height" content="100" />
<meta property="og:type" content="website" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<link href="https://wazaitoon.com/assets/front/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="https://wazaitoon.com/assets/front/css/custom-layout.css?version=5" rel="stylesheet" type="text/css" media="all" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="https://wazaitoon.com/assets/front/css/jquery-ui.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
<link href="https://wazaitoon.com/assets/css/jquery-confirm.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://wazaitoon.com/assets/front/css/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="https://wazaitoon.com/assets/front/css/owl.theme.default.min.css">
<link rel="stylesheet" type="text/css" href="https://wazaitoon.com/assets/front/css/owlcarousel/animate.css">
<script src="https://wazaitoon.com/assets/front/js/jquery.min.js"></script>

<script type="text/javascript" src="https://wazaitoon.com/assets/front/js/jquery-ui.min.js"></script>

<script type="text/javascript" src="https://wazaitoon.com/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://wazaitoon.com/assets/front/js/jquery.flexisel.js"></script>

<script  src="https://wazaitoon.com/assets/front/js/jquery.flexslider.js"></script>
<script src="https://wazaitoon.com/assets/front/js/owl.carousel.min.js"></script>
<link rel="stylesheet" href="https://wazaitoon.com/assets/front/css/flexslider.css" type="text/css" media="screen" />
<script type="text/javascript" src="https://wazaitoon.com/assets/front/js/jquery.elevatezoom.js"></script>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="icon" type="image/png" sizes="16x16" href="https://wazaitoon.com/assets/images/favicon.png">
<!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script> -->
<script>
		// Can also be used with $(document).ready()
		var base_url = 'https://wazaitoon.com/';
		var alldatetimeslot;
		$(window).load(function() {

			$('.flexslider').flexslider({
				animation: "slide",
				controlNav: "thumbnails"
			});
		});

</script>
<script type="text/javascript">
		$(document).on('click', '#date_link_click', function(e) {
			e.preventDefault();


			$('#datetimetable').html('');

			console.log(alldatetimeslot);

			// $.each(alldatetimeslot, function(index, data) {

			// 			$.each(data, function(ins, data1) {
			//                  $('#datetimetable').append('<li>'+data1+'---- </li>');
			//                  			if(ins=='time'){
			// 				$.each(data, function(ins2, data2) {


			//                   		});
			// 			}
			//              });
			//  });
			$('#datetimetable').append('<table style="border:1px solid;">');
			$.each(alldatetimeslot, function(index, data) {
				$('#datetimetable').append('<tr>');
				$.each(data, function(ins, data1) {


					if (ins == 'next_delivery_date') {

						var date = data1;
						data1 = date.split("-").reverse().join("-");
					}

					$('#datetimetable').append('<td> ' + data1 + '&nbsp;&nbsp;</td>');

				});
				$('#datetimetable').append('</tr>');
			});
			$('#datetimetable').append('</table>');
			$('#myModal_date').modal('show');




		});
	</script>
<script>
		$(window).load(function() {


			$.ajax({

				type: 'post',

				// 			data:{pincode:pincode},

				url: 'https://wazaitoon.com/Checkout/get_avaiable_timeslot_show',

				success: function(out) {

					var out = JSON.parse(out);

					var msg;

					var count = out.msg;

					alldatetimeslot = out.date;

					//console.log(alldatetimeslot);

					// if(out.status == 1){


					$('#show_date_time_slot').html('DELIVERY : ' + count);

					// }







				}

			});





		});
	</script>
<script type="text/javascript">
		$(window).load(function() {
			$("#flexiselDemo1").flexisel({
				visibleItems: 3,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 4000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint: 480,
						visibleItems: 1
					},
					landscape: {
						changePoint: 640,
						visibleItems: 2
					},
					tablet: {
						changePoint: 768,
						visibleItems: 3
					}
				}
			});
		});
	</script>
<script src="https://wazaitoon.com/assets/mngr/script/jquery-confirm.min.js" type="text/javascript"></script>
<script type="application/x-javascript">
		addEventListener("load", function() {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

<script src="https://wazaitoon.com/assets/front/js/simpleCart.min.js"> </script>
<script src="https://wazaitoon.com/assets/front/js/rating.js"> </script>

<script type="text/javascript" src="https://wazaitoon.com/assets/front/js/memenu.js"></script>
<script>

	</script>

<script type='text/javascript'>
		//<![CDATA[ 
		





		// $(function() {
		// 	var current = location.pathname;
		// 	$('.memenu li a').each(function() {
		// 		var $this = $(this);
		// 		// if the current path is like this link, make it active
		// 		if ($this.attr('href').indexOf(current) !== -1) {
		// 			$this.parents("li").addClass('active');
		// 		}
		// 	})
		// })
	</script>

</head>
<body>

<div class="top_bg">

<div class="logo" style="margin-top: 5px;">
<a href="{% url 'Home' %}">
<h1 style="font-family: 'Caudex', serif;"><img src="https://wazaitoon.com/assets/images/logo.png" style="width: 160px; margin-top:5px">&nbsp;</h1>
</a>
</div>
<div class="header_top-sec">
<div class="top_right top_right_marg">
<ul>
<li>
<div class="top-search-desktop">
<div class="top-green-search">
<form action="" method="get">
<input type="text" name="search_word" id="search_word" placeholder="Search products" value="">
<button onclick="return checkField()"><i class="fas fa-search"></i></button>

</form>
</div>
</div>
</li>
</ul>
</div>
<div class="top_left top_left_marg">
<ul>
<li><a href="#" id="track"><i class="fas fa-truck-moving"></i>&nbsp;&nbsp;Track Order</a></li>
{% if currentUser %}
<li class="top_link"><i class="fas fa-sign-in-alt" style="color:#fff;"></i><a href="{% url 'logout_user' %}">Logout</a></li>
{% else %}
<li class="top_link"><i class="fas fa-sign-in-alt" style="color:#fff;"></i><a href="{% url 'login_user' %}">Sign in</a></li>
{% endif %}
</ul>
</div>
<div class="clearfix"> </div>
</div>

</div>

<div id="myModal_track" class="modal fade" role="dialog">
<div class="modal-dialog">

<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close">
</i> </button>
<H4 style="color:#008f4c; font-weight:600; margin: 16px;" class="txt-center">Track your order</H4>
</div>
<div class="modal-body">
<div class="container">
<div class="row">
<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
<div>
<input type="text" id="order_id" class="order-input" placeholder="Enter Order Id">
<input type="text" id="mobile_no" class="order-input numberonly" placeholder="Enter Registered Mobile no" required maxlength="10" minlength="10">
<button id="track-btn" class="track-btn">Track</button>
<p class="check_order_msg txt-center" style="display: none;color: red"></p>
</div>

</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div id="myModal_date" class="modal fade" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close">
</i> </button>
<H4 style="color:#008f4c; font-weight:600; margin: 16px;" class="txt-center">Next available delivery date</H4>
</div>
<div class="modal-body">
<div class="container">
<div class="row">
<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
<div id='datetimetable'>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="header-top ">
<div class="header-bottom ">
<div class="row" style="margin-left: 0px;
    margin-right: 0px;  ">

<div class="col-12 col-sm-2 col-md-2 sh-mobile-off">


<nav class="categoriesbar">
<ul>
<li>
<a href="javascript:;" class="categoriesbar-title"><i class="fas fa-caret-down"></i>
&nbsp;&nbsp;&nbsp;Categories</a>
<div class="categories-drop">
<div class="categories ">
<ul>
  {% for cat in catogory%}
<li class="has-submenu" style="display: block">
<a href="/products/?cat_id={{cat.id}}">
{{cat.catogory_name}} </a>
<ul>
  {% for all in allcat %}
  {% if cat.id == all.parent_id %}
  <li><a href="/products/?cat_id={{all.id}}">{{all.catogory_name}}</a></li>
{% endif %}
{% endfor %}
</ul>
</li>
{% endfor %}

</ul>
</div>
</div>
</li>
</ul>
</nav>


</div>
<div class="col-12 col-sm-10 col-md-10 " style="padding-top: 8px;">

<div class="top-nav">
<ul class="memenu skyblue ">
<li class="grid active"><a href="{% url 'Home' %}">HOME</a></li>
<li class="grid active"><a href="{% url 'products' %}">PRODUCTS</a></li>
<li class="grid active"><a href="{% url 'product-offers' %}">OFFERS</a></li>
<li class="grid active"><a href="https://wazaitoon.com/about">ABOUT US</a></li>
<li class="grid active"><a href="https://wazaitoon.com/contact">CONTACT</a></li>
<!-- <li class="grid active">
<a class="sh-mobile-on">
<b>CATEGORIES</b>
</a>
</li> -->
<!-- <li class="grid active">
<a class="sh-mobile-on" style="font-size: 12px; font-weight:300; " href="https://wazaitoon.com/product/192">
&nbsp;&nbsp;Nuts & Seeds </a>
</li>
<li class="grid active">
<a class="sh-mobile-on" style="font-size: 12px; font-weight:300; " href="https://wazaitoon.com/product/193">
&nbsp;&nbsp;Dry Fruits </a>
</li>
<li class="grid active">
<a class="sh-mobile-on" style="font-size: 12px; font-weight:300; " href="https://wazaitoon.com/product/195">
&nbsp;&nbsp;Dates </a>
</li>
<li class="grid active">
<a class="sh-mobile-on" style="font-size: 12px; font-weight:300; " href="https://wazaitoon.com/product/197">
&nbsp;&nbsp;Chocolates & Wafers </a>
</li>
<li class="grid active">
<a class="sh-mobile-on" style="font-size: 12px; font-weight:300; " href="https://wazaitoon.com/product/206">
&nbsp;&nbsp;Snacks & Sweets </a>
</li>
<li class="grid active">
<a class="sh-mobile-on" style="font-size: 12px; font-weight:300; " href="https://wazaitoon.com/product/207">
&nbsp;&nbsp;Fragrance & Hygiene </a>
</li>
<li class="grid active">
<a class="sh-mobile-on" style="font-size: 12px; font-weight:300; " href="https://wazaitoon.com/product/208">
&nbsp;&nbsp;Teas & Coffees </a>
</li>
<li class="grid active">
<a class="sh-mobile-on" style="font-size: 12px; font-weight:300; " href="https://wazaitoon.com/product/209">
&nbsp;&nbsp;Cooldrinks & Beverages </a>
</li>
<li class="grid active">
<a class="sh-mobile-on" style="font-size: 12px; font-weight:300; " href="https://wazaitoon.com/product/215">
&nbsp;&nbsp;Exotic Spices </a>
</li>
<li class="grid active">
<a class="sh-mobile-on" style="font-size: 12px; font-weight:300; " href="https://wazaitoon.com/product/211">
&nbsp;&nbsp;Ready to cook </a>
</li>
<li class="grid active">
<a class="sh-mobile-on" style="font-size: 12px; font-weight:300; " href="https://wazaitoon.com/product/213">
&nbsp;&nbsp;Gift </a>
</li>
<li class="grid active">
<a class="sh-mobile-on" style="font-size: 12px; font-weight:300; " href="https://wazaitoon.com/product/217">
&nbsp;&nbsp;Staples </a>
</li> -->
</ul>

</div>

<div class="cart box_1 boxmob1">
<a href="{% url 'view_wishlist' %}" style="    color: #fff;">
<h3><span class="fas fa-heart" aria-hidden="true" style="color: #dce8df;"></span>
<div class="total wishlist-total" style="margin-left: 0px;">({{wish_count}})</div>
</h3>
</a>
<div class="clearfix"> </div>
</div>
<div class="cart box_1 boxmob1">
<a href="{% url 'view_cart' %}">
<h3><span class="fas fa-shopping-bag" aria-hidden="true" style="    color: #dce8df;"></span>
<div class="total cart_total">({{cart_count}})</div>
</h3>
</a>
<div class="clearfix"> </div>
</div>
<div class="cart box_1 boxmob2">
<div class="clearfix"> </div>
<!-- <h3>
<div class="call" style=""><span class="fas fa-phone-volume" aria-hidden="true" style="color: #dce8df;"></span><a style="color: #fff;" href="tel:8075532238">&nbsp;8075532238</a>&nbsp;</div>
</h3> -->
</div>
<div class="clearfix"> </div>

</div>
<div class="clearfix"> </div>
</div>
</div>

{% block content %}

{% endblock%}

<script type="text/javascript">

</script>

<script defer src="https://wazaitoon.com/assets/front/js/jquery.flexslider.js"></script>
<script type="text/javascript" src="https://wazaitoon.com/assets/front/js/jquery.flexisel.js"></script>
<script type="text/javascript">

</script>
<style type="text/css">
	
</style>
<script type="text/javascript">
	$(document).on('click', '.add-to-wish-btn', function(e) {



		e.preventDefault();

		var elem = $(this);

		var htm = elem.html();

		var product = $(this).attr('data-id');

		var price = $(this).attr('data-price');

		var offer = $(this).attr('data-offer');

		var offer_price = $(this).attr('data-oprice');

		var note = '';
		$('.divLoad').show();



		if (offer_price) offer_price = offer_price;

		else offer_price = price;

		$.ajax({

			type: 'post',

			url: 'https://wazaitoon.com/Wishlist/add_wish_list',

			data: {
				product: product,
				price: offer_price
			},

			success: function(out) {

				$('.divLoad').hide();

				var out = JSON.parse(out);

				if (out.status == 1) {

					// var cart = '<i class="fas fa-shopping-bag"></i> My Cart ( <span>'+out.cart.cart_nos+'</span> )<i class="fas fa-rupee-sign"></i> <span>'+out.cart.cart_total+'</span>';

					// $('.vendor-cart .checkout-btn').html(cart);

					elem.html('<i class="fa fa-check"></i>');

					elem.addClass('add_to_cart_suc');

					elem.parent().find('.add-to-wish-btn').after('<p class="e-msg" style="color: green;float: right;margin-right: 20px;">' + out.data + '</p>');

					setTimeout(function() {

						elem.html(htm);

						elem.removeClass('add_to_cart_suc');

						elem.parent().find('.e-msg').remove();
						location.reload();

					}, 2000);







				} else if (out.status == 2) {

					window.location.href = "https://wazaitoon.com/Account";

				} else {

					elem.parent().find('.add-to-wish-btn').after('<p class="e-msg">' + out.data + '</p>');

					elem.html('<i class="fa fa-times"></i>');

					elem.addClass('add_to_cart_err');

					setTimeout(function() {

						elem.html(htm);

						elem.removeClass('add_to_cart_err');

						elem.parent().find('.e-msg').remove();

					}, 1400);

				}

			}

		})

	})
</script>
<script type="text/javascript">
	$(document).on('click', '.quick-view-btn', function(e) {

		e.preventDefault();

		var id = $(this).attr('data-id');

		var key = $(this).attr('data-key');



		$('#myModal' + key + '').modal('show');

		// alert(id);

		/*	$.ajax({

				

				type :"post",

		        url : "https://wazaitoon.com/product/productdetails_quick/"+id,

			

				success: function(out){

					var out = JSON.parse(out);

					console.log(out);

					if(out.status == 404){

						window.location.href = base_url;

					}

					else if(out.status == 1){



						var images = out.data.images;

						console.log(images);

						var product = out.data.product;



						var img = '';

						if( images !='')

						{





							for(var i=0;i<images.length;i++)

							{

								if(i == 4)

								{

									return false;

								}



								img += '<li data-thumb="https://wazaitoon.com/uploads/product/'+images[i].image_path+'" style="width: 309px; float: left; display: block;"><img src="https://wazaitoon.com/uploads/product/'+images[i].image_path+'" /></li>';

							}





						}

						else

						{

							img +='<li data-thumb="https://wazaitoon.com/uploads/product/p2.jpg" style="width: 309px; float: left; display: block;" ><img src="https://wazaitoon.com/uploads/product/p2.jpg" class="img-responsive" alt=""/>';

						}



						// $('.flexslider').flexslider({

						// 			animation: "slide",

						// 			controlNav: "thumbnails"

						// 		  });



						

						//$('.slides').html(img);

						$('#myModal').modal('show');

					}

				}

			})*/

	})
</script>
<script type="text/javascript">
	$(document).on('click', '.add-to-cart-btn', function(e) {

		e.preventDefault();

		var elem = $(this);

		var htm = elem.html();

		var product = $(this).attr('data-id');

		var price = $(this).attr('data-price');

		var offer = $(this).attr('data-offer');

		var offer_price = $(this).attr('data-oprice');





		if (offer_price) offer_price = offer_price;

		else offer_price = price;

		$.ajax({

			type: 'post',

			url: 'https://wazaitoon.com/Cart/add_to_cart',

			data: {
				product: product,
				price: price,
				offer_price: offer_price,
				offer: offer
			},

			success: function(out) {

				var out = JSON.parse(out);

				if (out.status == 1) {

					var cart = '<i class="fas fa-shopping-bag"></i> My Cart ( <span>' + out.cart.cart_nos + '</span> )<i class="fas fa-rupee-sign"></i> <span>' + out.cart.cart_total + '</span>';

					$('.vendor-cart .checkout-btn').html(cart);

					elem.html('<i class="fa fa-check"></i>');

					elem.addClass('add_to_cart_suc');

					elem.parent().find('.add-to-cart-btn').after('<p class="e-msg">' + out.data + '</p>');

					setTimeout(function() {

						elem.html(htm);

						elem.removeClass('add_to_cart_suc');

						elem.parent().find('.e-msg').remove();

					}, 1400);

					location.reload();

				} else if (out.status == 2) {

					window.location.href = "https://wazaitoon.com/Account";

				} else {

					elem.parent().find('.add-to-cart-btn').after('<p class="e-msg">' + out.data + '</p>');

					elem.html('<i class="fa fa-times"></i>');

					elem.addClass('add_to_cart_err');

					setTimeout(function() {

						elem.html(htm);

						elem.removeClass('add_to_cart_err');

						elem.parent().find('.e-msg').remove();

					}, 1400);

				}

			}

		})

	})
</script><style type="text/css">
	.primal-ftr{

	    width: 14px;
	    display: inline-block;
        margin: -3px 2px 0 0;
	}
   
</style>
<div class="footer" style="margin-top:30px; border-top: 1px solid #eee; background-color:#efefef">
<div class="container">
<div class="ftr-grids">
<div class="col-md-4 ftr-grid">
<h4>About Us</h4>
<ul>
<li><a href="">Who We Are</a></li>
<li><a href="">Contact Us</a></li>
</ul>
</div>
<div class="col-md-4 ftr-grid">
<h4>Customer Services</h4>
<ul>
<li><a href="">Cancellation</a></li>
<li><a href="">Terms & Conditions</a></li>
</ul>
</div>
<div class="col-md-4 ftr-grid">
<h4>Your Account</h4>
<ul>
<li><a href="">Personal Information</a></li>
<li><a href="">Your order</a></li>
</ul>
</div>

<ul>




















<div class="clearfix"></div>
</div>
</div>
</div>

<div class="copywrite" style="border-top: 1px solid #eee; background-color:#ddd; padding-bottom: 15px; margin-bottom: 0;">
<div class="container">
<p>Copyright © 2021 Wazaitoon. All Rights Reserved | Powered by <a target="_blank" href="http://primeecart.com/"><span><img src="https://wazaitoon.com/assets/images/prime-ecart-icon.svg" class="primal-ftr" alt=""></span>Prime <span style="color:#f6921e;">eCart</span></a></p>
</div>
</div>
<script type="text/javascript">

	

	$(document).ready(function(){

// alert("dffgdfgg");

		$.ajax({

			type:'post',

// 			data:{pincode:pincode},

			url:'https://wazaitoon.com/Wishlist/get_wish_list_count',

			success: function(out){

				var out = JSON.parse(out);

				var msg;

				var count=out.msg;

				console.log(count);

				if(out.status == 1){

					// alert("hii");

				

					$('.wishlist').html('<a href="https://wazaitoon.com/Wishlist" title="My Wish List"  style="color: #fff;">'+count+'</a>');

				}else if(out.status == 2){

					// alert("hoi");

					$('.wishlist').html('<a href="https://wazaitoon.com/Wishlist" title="My Wish List"  style="color: #fff;">0</a>');

				}

				else{

					// alert("has");

					$('.wishlist').html('<a href="https://wazaitoon.com/Wishlist" title="My Wish List"  style="color: #fff;">0</a>');



				}

			





			}

		});





	});

</script>
<script type="text/javascript">
	
	$(".numberonly").keydown(function (e) {
    // Allow: backspace, delete, tab, escape, enter and .
    if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
         // Allow: Ctrl+A, Command+A
        (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || 
         // Allow: home, end, left, right, down, up
        (e.keyCode >= 35 && e.keyCode <= 40)) {
             // let it happen, don't do anything
             return;
    }
    // Ensure that it is a number and stop the keypress
    if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
        e.preventDefault();
    }
});
</script>
<script type="text/javascript">

	$(document).ready(function(){
	// alert("dfgfrg");

    $(document).on('keydown',".numberonly",function (e) {
    	

        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||

            // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || 

            // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {

            // let it happen, don't do anything
            return;

        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();

        }

    });

});

</script>
<script type="text/javascript">

	

	$(document).ready(function(){

// alert("dffgdfgg");

		$.ajax({

			type:'post',

// 			data:{pincode:pincode},

			url:'https://wazaitoon.com/Cart/get_cart_list_count',

			success: function(out){

				var out = JSON.parse(out);

				var msg;

				var count=out.msg;

				console.log(count);

				if(out.status == 1){

					// alert("hii");

				

					$('.cartlist').html('<a href="https://wazaitoon.com/Cart" title="My Cart List"  style="color: #fff;">'+count+'</a>');

				}else if(out.status == 2){

					// alert("hoi");

					$('.cartlist').html('<a href="https://wazaitoon.com/Cart" title="My Cart List"  style="color: #fff;">0</a>');

				}

				else{

					// alert("has");

					$('.cartlist').html('<a href="https://wazaitoon.com/Cart" title="My Cart List"  style="color: #fff;">0</a>');



				}

			





			}

		});





	});







	function selectDistrict(event){

	var id = $(event).val();

	$.ajax({

		type:'post',

		url:base_url+'addresses/get_districts',

		data:{id:id},

		success: function(out){

			if(out.status == 404){

				window.location.href = base_url;

			}

			else{

				var out = JSON.parse(out);

				var htm = '<option selected="selected" disabled value="">Select</option>';

				for(var i=0;i<out.length;i++){

					htm += '<option value="'+out[i].district_id+'">'+out[i].district_name+'</option>';

				}

				$('.districts').html(htm);

			}

		}

	})

}

</script>
<script type="text/javascript">

$(document).on('click','#track',function(e){

	e.preventDefault();

	



	

	$('#myModal_track').modal('show');

})



$(document).on('click','#track-btn',function(e){

	var order_id = $.trim($('#order_id').val());
	var mobile_no = $.trim($('#mobile_no').val());

	//var id = $(this).attr('data-id');

	// alert(order_id); 

	if(order_id){
		if(mobile_no){

		//$('#delivery_pincode').parent().css('border-bottom','2px solid #2874f0');

		$.ajax({

			type:'post',

			data:{order_id:order_id,mobile_no:mobile_no},

			url:base_url+'Orders/track_order_by_id',

			success: function(out){

				var out = JSON.parse(out);

				var msg;

				if(out.status == 1){

							window.location.href = base_url+'Orders/my_order_track?order_id='+order_id



				}

				else{

					 msg = 'Order id does not exist';

					 $('.check_order_msg').attr('style', 'color: red !important');

					  $('.check_order_msg').show();

				 $('.check_order_msg').html(msg);



				}

				//console.log(msg);

				





			}

		})
		}
else{

		$('#mobile_no').focus();

		msg = 'Please enter your Mobile number';

		$('.check_order_msg').show();

		 $('.check_order_msg').html(msg);

	}

	}

	else{

		$('#order_id').focus();

		msg = 'Please enter your Order id';

		$('.check_order_msg').show();

		 $('.check_order_msg').html(msg);

	}


})

</script>
<script>
	$('.banner .owl-carousel').owlCarousel({
	autoplay:true,
	autoplayTimeout:5000,
	autoplayHoverPause:false,
	smartSpeed:1000,

	animateOut: 'fadeOut',
    animateIn: 'fadeIn',

	loop:true,
	margin:0,

	dots: true,
	nav: true,
	navText : ['<i class="fas fa-chevron-left"></i>','<i class="fas fa-chevron-right"></i>'],

	responsive:{

	  0:{ items:1 },
	  600:{ items:1 },
	  1000:{ items:1 }
	}
});
</script>
<script src="{% static 'frontend/js/cart.js'%}"></script>
</body>
</html>