{% extends 'user_main.html' %}
{% block content %}


<div class="login_sec">
    <div class="container">
    <ol class="breadcrumb">
    <li><a href="https://wazaitoon.com/index">Home</a></li>
    <li class="active">Login</li>
    </ol>
    <div class="col-md-4 col-sm-6 col-xs-10 col-md-offset-4 col-sm-offset-3 col-xs-offset-1 log " id="login">
    <h2>Login</h2>
    <p style="color:red;"></p>
    <p style="color:red;"></p>
    <p style="color:red;"></p>
    <p style="color:green;"></p>
    <p>Welcome, please enter the following to continue.</p>
    <form action="" method="POST" >
        {% csrf_token %}
    <h5>Phone:</h5>
    <input type="text" class="numberonly" placeholder="Enter your phone" name="mobile" required="" maxlength="10" minlength="10" value="">
    <!-- <input type="hidden" id="is_guest_login" value="0" placeholder="" name="is_guest_login">
    <input type="hidden" id="product_id" value="" placeholder="" name="product_id">
    <input type="hidden" id="cart_product_id" value="" placeholder="" name="cart_product_id"> -->
    <h5>Password: <a href="#" id="forgotbtn" class="lost-pass" onclick="myForgot()" style="color: #B05B25;
        float: right;
        font-size: 11px;">Forgot Password?</a></h5>
    <input type="password" value="" name="password" required="" placeholder="******">
    <div class="col-md-12 col-sm-6 ">
    <input type="submit" value="Login">
    <a class="acount-btn" href="{% url 'user_register' %}">Create an Account</a>
    </div>
    
    
    
    </form>
    <h5 style="color: red;"></h5>
    </div>
    
    <div class="col-md-4 col-sm-6 col-xs-10 col-md-offset-4 col-sm-offset-3 col-xs-offset-1 log " id="forgot" style="display: none;">
    
    <h2>Forgot Password</h2>
    <p></p>
    
    <p style="color:red;"></p>
    <form action="https://wazaitoon.com/Account/forgot" method="post" style="">
    <h5>Phone Number</h5>
    <input type="text" value="" placeholder="Enter your phone number" name="phone">
    <input type="submit" value="Submit">
    
    </form>
    
    </div>
    <div class="clearfix"></div>
    </div>
    </div>

    {% endblock %}