{% extends 'main.html' %}
{% block content %}

<div class="container-fluid">

  
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <form action="" method="POST" >
                {% csrf_token %}
                
                <div class="card-header">
                    <h3 class="card-title">Change Password</h3>
                  </div>
                  <div class="card-body">

                     <!-- message  -->
                  {% if messages %}
                  <div class="row">
                   
                    
                    <div class="col-lg-12">
                        {% for message in messages %} 
                      
                                <div class="col-lg-12 ">
                                    <div class="alert alert-dark alert-dismissible fade show" role="alert">
                                      
                                      {{message}} 
                                      
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                </div>

                        
                  
                    {% endfor %}

                    </div>
                
                    </div>
                    
                    {% endif %}
                    
<!-- end message -->

                    <div class="row">
  

                       

                      <div class="col-md-6 col-lg-6">
                       
                        <div class="form-group">
                          <label class="form-label">Old Password<span class="danger" style="color: red;"> *</span></label>
                          {{form.old_password}}
                        </div>
                        </div>
                        
                      <div class="col-md-6 col-lg-6">
                       
                        <div class="form-group">
                          <label class="form-label">New Password<span class="danger" style="color: red;"> *</span></label>
                          {{form.new_password1}}
                        </div>
                        </div>

                        <div class="col-md-6 col-lg-6">
                       
                            <div class="form-group">
                              <label class="form-label">Retype Password<span class="danger" style="color: red;"> *</span></label>
                              {{form.new_password2}}
                            </div>
                            </div>

                     
                           
                            
                       </div>
                     </div>
                    <div class="col-lg-12">
                        <center><button class="btn btn-secondary  mt-5">Submit</button></center>
                    </div>
                    </div>
                    </div>
           
        </form>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>

{% endblock %}

