{% extends 'main.html' %}
{% block content %}

{% if messages %}
<div class="row">
  <div class="col-lg-1"></div>
  
  <div class="col-lg-10">
      {% for message in messages %} 
     
              <div class="col-lg-12 ">
                  <div class="alert alert-dark alert-dismissible fade show" role="alert">
                    
                     {{message}} 
                    
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
              </div>

       
 
  {% endfor %}

  </div>
  <div class="col-lg-1"></div>
  </div>
  
  {% endif %}

   <!-- filter -->

   <div class="row mt-5">
    <div class="col-lg-1"></div>
    
    <div class="col-lg-10">


<div class="card">
    <div class="card-body">
        <form method="post" action="">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputUsername1">Area</label>
                        <input type="text" class="form-control form-control-sm" placeholder="search by Area.."
                            name="area">
                    </div>
                </div>

                
               
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="exampleInputUsername1">Status</label>
                        <select id="status" class="form-control form-control-sm" name="status">
                            <option value="">Select</option>
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                        </select>
                    </div>
                </div>
               
                <div class="col-sm-4">
                    <div class="form-group ml-auto" style="float:right">
                        <a href="{% url 'areas' %}" id="filter-btn" class="btn btn-primary btn-sm mt-4" data-toggle="tooltip" title="Filter"><i class="fas fa-undo-alt"></i></a>
                        
                        <button type="submit" class="btn btn-primary mt-4 "  data-toggle="tooltip" title=""
                            data-original-title="Apply">Filter</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
<div class="col-lg-1"></div>
</div>
<!-- end filter -->

  
<div class="row mt-5">
<div class="col-lg-1"></div>

<div class="col-lg-10">
    
        <div class="card">
            <div class="card-header">
             <h3>Areas</h3>
             <a href="{% url 'add_area' %}" class="btn btn-secondary text-end" style="float:right">Add Areas</a>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    {% if areas %}
                    <tr>
                        <th>Area</th>
                        <th>Status</th>
                        <th>PinCode</th>
                        <th></th>
                        <th></th>
                        
        
                        
        
                        
                       
                    </tr>
                    {% for area in areas %}
                    <tr>
                        
                        
                        <td>{{area.area_name}}</td>
                        <td>{{area.status}}</td>
                        <td><a href="{% url 'add_pincode' pin_id=area.id %}" class="btn btn-primary">Add Pincode</a></td>

                        {% if area.status == 'Active' %}
                        <td><a href="{% url 'edit_areas' editarea_id=area.id %}" class="btn btn-secondary">Edit</a></td>
                        <td><a href="{% url 'disable_area' disarea_id=area.id %}" class="btn btn-secondary">Disable</a></td>
                        {% else %}
                        <td></td>
                        <td><a href="{% url 'disable_area' disarea_id=area.id %}" class="btn btn-secondary">Enable</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    {% else %}
                    <label for="" class="text-primary">No Matches Found</label>
                    {% endif %}
        
                </table>
        
            </div>
          </div>
    
       

   


</div>
<div class="col-lg-1"></div>
</div>

{% endblock%}