{% extends 'main.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form action="" method="POST">
                {% csrf_token %}
            <div class="col-lg-12">
                <div class="col-lg-4"><label for="">{{form.label.role_name}}</label></div>
                <div class="col-lg-8">{{form.role_name}}</div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-4"><label for="">{{form.label.status}}</label></div>
                <div class="col-lg-8">{{form.status}}</div>
            </div>
            <div class="col-lg-12">
                <button class="btn btn-secondary">Submit</button>
            </div>
        </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>

{% endblock %}