{% extends 'main.html' %}
{% block content %}


<div class="col-lg-12">
    <div class="card">
        <div class="card-header" >
            
              <div class="ml-auto" >
                <h3 class="card-title"style="float: left;">Roles</h3>
                
               
              </div>
        </div>
      <form method="POST" class="form-control">
        {% csrf_token %}
        <div class="card-body">
    
         
          
          <div class="table-responsive">
            <table class="col-lg-12 table bordered">
                <thead>
                    <tr>
         
                      <th style="padding-top:10px ;padding-left: 100px;padding-bottom:20px;color:black">Role</th>
                      <th style="padding-top:10px ;padding-left: 100px;color: black;padding-bottom:20px;">Permission&nbsp;&nbsp;<input type="checkbox"  class="form-checks"  id="myChecks" style="width: 15px;height:15px;"  onclick="myFunction(this)"></th>
                    </tr>
                </thead>
                <tbody>
                  
                      {% for i in path %}
                      <tr>
                          <td style="padding-top:10px ;padding-left: 100px;"><strong>{{ i.path_name}}</strong><input hidden type="text" value="" name="main_path[]"></td>
                          <td  style="padding-top:10px ;padding-left: 100px;"><input type="checkbox" class="checked1"  name="main_perm" id="cn{{i.id}}"  style="width: 15px;height:15px;" value="{{i.id}}" {% if i.id in permission  %} checked {% endif %} onclick="select_Sub(this)"></td>
                          
                      </tr>
                     
                      {% for j in i.path_set.all %}
                      <tr>
                          <td style="padding-top:10px ;padding-left: 105px;">{{ j.path_name }}</td>
                          <td  style="padding-top:10px ;padding-left: 100px;"><input type="checkbox" class="cn{{i.id}}" value="{{j.id}}" id="checked" name="sub_perm" style="width: 15px;height:15px;" {% if j.id in permission %}checked{% endif %} onclick="singlecheck(this)"></td>
                          
                      </tr>
                      {% endfor %}
                      {% endfor %}
                  
                </tbody><br>
                
            </table>
            
          </div>
        
        </div>
    
        <div class="card-footer " style="text-align: center;background-color: white;">
          <div class="col-sm-12" style="text-align: center;">
              <button type="submit" class="btn btn-primary mr-2">Submit</button>
              <a href="{% url 'roles' %}" class="btn btn-light">Cancel</a>
          </div>
         
        </div>
    </form>
    </div>
  </div>
  <script>
    var checkBox = document.querySelectorAll('input[type=checkbox]');
    function myFunction(a) {
      
      if(a.checked == true){
        checkBox.forEach((checkBox) => {
          checkBox.checked = true;
        })
      }
      else{
        checkBox.forEach((checkBox) => {
          checkBox.checked = false;
        })
      }
     
        
       
        
      }


      var check = document.querySelectorAll('input[type=checkbox]');

      function singlecheck(a) {
      
        console.log(check.id)
        if(a.checked == true){
          console.log('hai')
          check.forEach((check) => {
          if(a.className == check.id)
          {
            check.checked = true;
          }
          
         
         

          })
        }
      
        
      }

      
    
    
      
       var check = document.querySelectorAll('input[type=checkbox]');
       console.log(check)
       function select_Sub(a){
        
        if (a.checked == true){
          check.forEach((check) => {
            if(a.id == check.className){
              check.checked = true;
            }
         
          
        })
         
          }
          else{
            check.forEach((check) => {
              if(a.id == check.className){
                check.checked = false;
              }
            })
          }
         
        }
         
      
  </script>
  <!-- <script>
     var checkBox = document.querySelectorAll('input[type=checkbox]')
    function myFunction(a){
      var checkbox1=document.getElementById('myChecks').checked
      console.log(checkbox1)
      if (checkbox1==true){
          checkBox.forEach((checkBox) => {
          checkBox.checked = true;
        })

      }
      else
      {
          checkBox.forEach((checkBox) => {
          checkBox.checked = false;
        })
      }

    }

    function select_Sub(a){
      console.log(a.className)
      console.log(a.checked)
     
      var checkBox2=document.getElementById('checked')
      console.log(checkBox2.className)
      if (a.checked==true){
          checkBox.forEach((checkBox2) => {
            if (a.className==checkBox2.className)
            checkBox2.checked = true;
        })
      
      }
      else{
        checkBox.forEach((checkBox2) => {
            if (a.className==checkBox2.className)
            checkBox2.checked = false;
        })

      }

      }

      function singlecheck(a){
     
     
      var checkBox3=document.getElementById('maincheck')
      console.log(checkBox3.className)
      if (a.checked==true){
          
            checkBox3.checked = true;
     
      
      }
      else{
     
          
            checkBox3.checked = false;
     

      }

      }
      

  
  </script> -->
  
  
{% endblock  %}
